@using Qeryd.Models.Entity;
@model List<TBLMUSTERILER_>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/View.cshtml";
}

<table class="table table-bordered">

    <tr>
        <th>MÜŞTERİ ID</th>
        <th>MÜŞTERİ ADI</th>
        <th>MÜŞTERİ SOYADI</th>
    </tr>

    <tbody>


        @foreach (var x in Model)
        {
            <tr>
                <td>@x.MUSTERIID</td>
                <td>@x.MUSTERIAD</td>
                <td>@x.MUSTERISOYAD</td>
            </tr>

        }
 


    </tbody>



</table>
<a href="/MUSTERI/YenıMusterı/" class="btn btn-primary">YENİ MÜŞTERİ EKLE</a>

