
@{
    ViewBag.Title = "SIL";
    Layout = "~/Views/Shared/View.cshtml";
}

<form class="form-group" method="post">

    <div>

        <label>Kategori Adı</label>
        <input type="text" class="form-control" name="KATEGORIID" />

    </div>


</form>
